src/test/resources/multiplePatterns/multiplePatterns.xsd

<xsd:schema
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		targetNamespace="a"
		xmlns:a="a"
		elementFormDefault="qualified">

	<xsd:element name="main" type="a:Main"/>

	<xsd:complexType name="Main">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="multiplePatterns" type="a:patternList"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="patternList">
	    <xsd:restriction base="xsd:string">
	        <xsd:pattern value="[0-9]" />           
	        <xsd:pattern value="[A-B]" />           
	    </xsd:restriction>
	</xsd:simpleType>


</xsd:schema>